---
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import rssIcon from "../../../resources/rss.svg";
import { generateStaticPaths } from "../../../functions/paths.func";
import { GLOBAL_CONFIG } from "../../../config";

const extractEntrySlug = (slug: string): string => {
  return slug.split("/")[1];
};

export async function getStaticPaths({ paginate }: any) {
  return generateStaticPaths(paginate, "en");
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props as any;
---

<Layout title="Canada - Blog">
  <main class="container">
    <h1>
      Blog {page.currentPage === 1 ? "" : `- Page ${page.currentPage}`}
      <a href="/en/rss.xml"
        ><Image
          style="width: 25px; height: 25px"
          src={rssIcon}
          alt="RSS Icon for subscribe to RSS feed."
          widths={[30]}
          sizes={`30px`}
        /></a
      >
    </h1>
    <p>
      Here you can find all blog entries so far. <br />
    </p>
    <div class="entry-grid">
      {
        page.data.map((post: any) => (
          <a href={"/en/blog/" + extractEntrySlug(post.slug)} class="entry">
            {post.data.image && post.data.image.url ? (
              <Image
                src={post.data.image.url}
                alt={post.data.image.alt}
                style="max-height: 350px; width: 100%; object-fit: cover;"
              />
            ) : null}
            {post.data.image && post.data.image.href ? (
              <img
                src={post.data.image.href}
                alt={post.data.image.alt}
                style="max-height: 350px; width: 100%; object-fit: cover;"
              />
            ) : null}
            <h3>
              {post.data.title}
              <span class="entry--date">
                {new Date(post.data.pubDate).toLocaleDateString(
                  "en-CA",
                  GLOBAL_CONFIG.dateOptions,
                )}
              </span>
            </h3>
            <p>{post.data.description}</p>
          </a>
        ))
      }
    </div>
    <div class="paginator">
      {
        page.url.prev ? (
          <a class="left" href={page.url.prev}>
            &lt; Previous Page
          </a>
        ) : null
      }
      {
        page.url.next ? (
          <a class="right" href={page.url.next}>
            Next Page &gt;
          </a>
        ) : null
      }
    </div>
  </main>
</Layout>
