---
import Layout from "../../layouts/Layout.astro";
import MultiMap from "../../components/dynamic/MultiMap";
import { VisitingLocations } from "../../content/visiting-locations";

const visitingLocations = VisitingLocations;
---

<Layout title="Canada - Map">
  <main class="container">
    <h1>Map</h1>
    <p>
      You want to know where we are currently? Here you can find our current
      locations.
      <br />
      First we stayed in Halifax, Nova Scotia.<br />
      After that we traveled through Newfoundland for 2.5 months.<br />
      We stayed in Montréal, Québec for a little more than 3 weeks. <br />
      Currently we are in Winnipeg, Manitoba and then, via Regina and Saskatoon,
      on our way to Calgary.
    </p>
  </main>

  <MultiMap
    client:visible
    zoom={visitingLocations.zoom}
    mapCenter={visitingLocations.mapCenter}
    points={visitingLocations.points}
    currentPath={visitingLocations.currentPath}
    tooltip={visitingLocations.tooltip}
  />
</Layout>
