---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
let allPosts = await getCollection("blog");
allPosts = allPosts.filter((entry) => entry.slug.split("/")[0] !== "en");

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const heroImg =
  "https://directus.aaronczichon.de/assets/ad8ec531-a3b7-45f1-b0c8-81fffd1ca84d.jpg?quality=80&width=2000";
---

<Layout title="Canada - Working Holiday für 12 Monate">
  <Hero
    url={heroImg}
    alt="Strahlendblauer Himmel welcher eine große Kanada-Flagge zeigt."
  />
  <main class="container">
    <article style="margin-bottom: 0">
      <h1>Lasst das Abenteuer beginnen!</h1>
      12 Monate leben in Kanada. Ein Traum wahr werden lassen und du kannst mit dabei
      sein. Virtuell natürlich. Beginnend mit 2 Monaten in Halifax, Nova Scotia reisen
      wir durch das Land und erkunden das wunderbare und schöne Kanada.
      <br /><br />
      Wir starteten im März in Halifax, sind dann weiter nach Neufundland, Montréal
      und dann mit dem Camper nach Toronto. <br />
      Von dort aus nach Winnipeg, Regina und Saskatoon bis wir nun in Calgary angekommen
      sind. <br />
      Wie es dann weiter geht steht aktuell noch nicht fest.
    </article>
    <h2>Neusten Beiträge</h2>
    <div class="entry-grid">
      {
        allPosts
          .sort((a, b) => {
            return a.data.pubDate > b.data.pubDate ? -1 : 1;
          })
          .slice(0, 4)
          .map((post) => (
            <div class="entry">
              {post.data.image && post.data.image.url ? (
                <Image
                  widths={[700]}
                  sizes={`700px`}
                  src={post.data.image.url}
                  alt={post.data.image.alt}
                  style="max-height: 350px; width: 100%; object-fit: cover;"
                />
              ) : null}
              {post.data.image && post.data.image.href ? (
                <img
                  src={post.data.image.href}
                  alt={post.data.image.alt}
                  style="max-height: 350px; width: 100%; object-fit: cover;"
                />
              ) : null}
              <a class="entry-link" href={"/blog/" + post.slug}>
                <h3>
                  {post.data.title}
                  <span class="entry--date">
                    {new Date(post.data.pubDate).toLocaleDateString(
                      "de-DE",
                      dateOptions,
                    )}
                  </span>
                </h3>
              </a>
              <p>{post.data.description}</p>
            </div>
          ))
      }
    </div>
    <a href="/blog/1" style="padding-bottom: 32px">alle weiteren Artikel...</a>
  </main>
</Layout>
