---
import { Image } from "astro:assets";
import { GLOBAL_CONFIG } from "../config";

const { assetId, alt, width, height, quality, leading } = Astro.props;

let imgUrl = `${GLOBAL_CONFIG.imageEndpoint}${GLOBAL_CONFIG.directusAssetEndpoint}${assetId}`;
const altSrc = `${GLOBAL_CONFIG.imageEndpoint}/files/${assetId}?fields[]=description`;
const queries = ["download"];

if (leading === "width" || !leading)
  width
    ? queries.push(`width=${width}`)
    : queries.push(`width=${GLOBAL_CONFIG.defaultWidth}`);
if (leading === "height")
  height
    ? queries.push(`height=${height}`)
    : queries.push(`height=${GLOBAL_CONFIG.defaultHeight}`);

const q = quality || GLOBAL_CONFIG.defaultQuality;
queries.push(`quality=${q}`);

const imgSrc = `${imgUrl}?${queries.join("&")}`;

let result: any = await fetch(altSrc);
result = await result.json();
const altText = result?.data?.description || "";
---

<a
  target="_blank"
  href={imgUrl}
  title="Klicken um das Bild in Orginalgröße zu betrachten"
>
  <Image
    src={imgSrc}
    alt={altText}
    width={GLOBAL_CONFIG.defaultWidth}
    height={GLOBAL_CONFIG.defaultHeight}
    loading="lazy"
    fetchpriority="auto"
  />
</a>
