---
import { Image } from 'astro:assets';
const { url, alt, image } = Astro.props;
---

<div class="hero">
  {
    image ? (
      <Image
        src={image}
        alt={alt}
        widths={[240, 540, 720, image.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${image.width}px`}
        style="height: 100%; width: 100%; object-fit: cover;"
      />
    ) : (
      <img src={url} alt={alt} decoding="async" />
    )
  }
</div>
