---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import MenuIcon from "./MenuIcon.astro";

const pathname = new URL(Astro.request.url).pathname;
import mainImage from "./main.jpg";
import { Image } from "astro:assets";

// gets the language from the URL
const lang = getLangFromUrl(Astro.url);

// defines the translations for the nav
const t = useTranslations(lang);
// function which is used to translate the path to the correct one of the language
const translatePath = useTranslatedPath(lang);

// paths
const main = translatePath("/");
const blog = translatePath("/blog");
const map = translatePath("/map");
const pengiun = translatePath("/pengiun");
const visitors = translatePath("/visitors");
const about = translatePath("/about");
const imprint = translatePath("/imprint");
---

<div class="container-nav">
  <nav class="container-nav topnav" id="myTopnav">
    <a href={main} class={main === pathname ? "active" : ""}>
      <Image
        src={mainImage}
        alt="Aaron Czichon & Lea Gräß"
        class="img-profile"
        widths={[30]}
        sizes={`30px`}
      />
    </a>
    <a href={blog} class={blog == pathname ? "active" : ""}>{t("nav.blog")}</a>
    <a href={map} class={map === pathname ? "active" : ""}>{t("nav.map")}</a>
    <a href={pengiun} class={pengiun === pathname ? "active" : ""}
      >{t("nav.pengiun")}</a
    >
    <a href={visitors} class={visitors === pathname ? "active" : ""}
      >{t("nav.visitors")}</a
    >
    <a href={about} class={about === pathname ? "active" : ""}
      >{t("nav.about")}</a
    >
    <a href={imprint} class={imprint === pathname ? "active" : ""}
      >{t("nav.imprint")}</a
    >
    <a
      href="javascript:void(0);"
      rel="nofollow"
      class="icon"
      onclick="toggleNav()"
    >
      <MenuIcon />
    </a>
  </nav>
</div>
<script is:inline>
  function toggleNav() {
    var x = document.getElementById("myTopnav");
    if (x.className === "container-nav topnav") {
      x.className += " responsive";
    } else {
      x.className = "container-nav topnav";
    }
  }
</script>
